<div class="container">
    <div class="row">
        <div class="col">
            <div class="encabezado">
                <div>
                    <h2 mat-dialog-title>Categoria</h2>
                </div>
                <div class="encabezado2">
                    <span class="material-icons">
                        <a href="" class="close">
                            close
                        </a>
                    </span>
                </div>


            </div>
            <mat-dialog-content class="mat-dialog-container">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Código</mat-label>
                        <input matInput #postalCode maxlength="5" placeholder="Escriba un código">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Escriba una descripción">
                    </mat-form-field>
                    <mat-dialog-actions align="end">
                        <button mat-raised-button color="primary">GUARDAR</button>
                    </mat-dialog-actions>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="material-icons">
                                        delete
                                    </span></td>
                                <td>01</td>
                                <td>Estudiante</td>
                            </tr>
                            <tr>
                                <td><span class="material-icons">
                                        delete
                                    </span></td>
                                <td>02</td>
                                <td>Delegación</td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </mat-dialog-content>

        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">


        </div>
    </div>
</div>