.cabezera-categoria{
  display: flex;
  justify-content: space-between;
}

.cabezera-categoria .titulo-dialog{
  margin-bottom: 0px;
}

.formulario-categoria {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.material-icons{
  padding: 20px
}

.material-icons .close {
  font-style: normal;
  text-decoration: none;

}

.table td{
  vertical-align: middle;
}

mat-dialog-actions .btn-guardar{
  background-color: var(--color-verde);
  color: #fcfcfc;
}
