.formulario-agregar-evento {
    width: 700px;
    padding: 0 1.2rem;
}
.cabezera-formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
        mat-icon{
            color: var(--color-primario);
        }
}
.formulario-evento{
    margin: 0;
    padding: 0;
    width: 100%;
}

mat-dialog-content .mensaje-error{
    text-align: center;    
    margin-bottom: 0.6rem;
    margin-top: 0px;
    span{
        background-color: #f3dedf;
        color: #f44336;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold; 
    }  
}

.formulario-evento mat-dialog-content form{
    display: flex;
    flex-direction: column;
}
mat-form-field {
    width: 100%;
}
mat-dialog-actions{
    margin: 0;
    padding: 0;
}

mat-dialog-actions .btn-guardar {
    background-color: var(--color-primario);
    color: #fcfcfc;
    width: 156px;
}
/* para el cargando */
.cargando {
    position: relative;
  }
  
  .cargando img {
    display: block;
    margin: 0 auto;
  }
  
  .cargando span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .hora__seccion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea el label y el input en la parte superior */
    gap: 20px; /* Espacio entre las dos secciones */
  }
  
  .hora, .tolerancia {
    display: flex;
    flex-direction: column; /* Para que el label esté encima del input */
    position: relative;
    flex: 1; /* Hace que ambos inputs se distribuyan equitativamente en el espacio */
  }
  
  .hora input, .tolerancia input {
    width: 100%;
    padding: 10px;
    padding-left: 30px; /* Espacio para el ícono */
    border: none;
    border-bottom: 2px solid purple; /* Borde inferior morado */
    font-size: 16px;
  }
  
  .hora input:focus {
    outline: none; /* Elimina el borde al hacer focus */
    border-bottom: 2px solid darkviolet; /* Cambia el color del borde al hacer focus */
  }
  
  .hora .material-icons {
    position: absolute;
    left: 0px; /* Colocar el ícono al inicio, sobre el input */
    top: 30px; /* Asegurar que esté sobre el input */
    font-size: 24px;
    cursor: pointer; /* Mostrar que es clickeable */
    color: purple;
  }
  
  .hora mat-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px; /* Espacio entre el label y el input */
  }
  
  .hora input, .tolerancia input {
    padding-left: 35px; /* Espacio para que el ícono no interfiera con el texto del input */
  }
  