<div class="lugarProcedencia">
    <div class="lugarProcedencia__block">
        <h2 mat-dialog-title>Agregar Institucion Procedencia</h2>
        <mat-dialog-actions>
            <mat-icon mat-button mat-dialog-close aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
        </mat-dialog-actions>
    </div>
    <div class="lugarProcedencia__block">
        <mat-dialog-content>
            @if (error) {
                <div class="mensaje-error">
                    <span>{{textoError}}</span>
                </div>
                }
        </mat-dialog-content>
    </div>
    <div class="lugarProcedencia__block"></div>
    <div class="lugarProcedencia__block"></div>
</div>