.agregar-institucion-procedencia {
    width: 500px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

mat-dialog-actions button {
    width: 100px;
}

mat-dialog-actions .btn-guardar {
    background-color: var(--color-primario);
    color: #fcfcfc;
    width: 156px;
    margin-right: 0;
    padding-right: 0;
}

mat-dialog-content form {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

mat-form-field {
    width: 100%;
}

dialog-actions {
    justify-content: center;
}

/* mensaje error */
.mensaje-error {
    display: inline-block;
    background-color: #f8d7da;
    color: #93333c;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600px;
    margin-bottom: 10px;
}


.cabezera-formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.cabezera-formulario h2 {
    margin: 0;
    margin-left: -12px;
}

.material-icons {
    font-size: 24px;
}

.material-icons a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.material-icons a:hover {
    color: var(--color-azul);
}

/* estilos de la lsita */
.lista-institucion-procedencia {
    max-height: 200px;
    overflow-y: auto;
}