<div class="no-datos" >
    <span>¡No hay datos!</span>
</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button (click)="eliminarInstitucionProcedencia()" matTooltip="Eliminar" mat-icon-button color="warn"
                    aria-label="delete">
                    <mat-icon>delete</mat-icon>
                </button>
                <button matTooltip="Editar" mat-icon-button style="color: var( --color-primario);" aria-label="edit">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
        <tr>
            <td>
                <button matTooltip="Eliminar" [matTooltipPosition]="'above'" mat-icon-button color="warn"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>01</td>
            <td> Universidad Santo Tomás</td>
        </tr>
    </tbody>
</table>
