<div class="container">
    <div class="row">
        <div class="example-button-row">
            <img src="" alt="">
            <h1>AUXILIARES</h1>
            <button (click)="openDialog()" mat-stroked-button>CATEGORIA</button>
            <button mat-stroked-button>CONGRESO</button>
            <button mat-stroked-button>ESTADO INSCRIPCIÓN</button>
            <button (click)="openDialog2()"mat-stroked-button>INSTITUCIÓN DE PROCEDENCIA</button>
            <button mat-stroked-button>LUGAR DE PROCEDENCIA</button>
            <button mat-stroked-button>EVENTO</button>
        </div>
    </div>
</div>